/* General styles */
body {
    background-image: linear-gradient(to bottom right, #f7dafd, #dafdf7);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

h1, h2, h3 {
    color: #9b518d;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

a {
    color: #4f3a74;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container styles */
.container {
    width: 80%;
    margin: auto;
    padding: 2em;
    background-color: #ebebfc;
    border-radius: 5px;
}

.welcome-message {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }

/* Header and nav styles */
header {
    text-align: center;
    margin-bottom: 1.5em;
}

nav {
    background-color: #f6c7eb;
    padding: 1em;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* New property to create a flexible container */
    justify-content: center; /* New property to horizontally center the list items */
}

nav ul li {
    margin-right: 1em;
}

/* Button styles */
button {
    background-color: #4f3a74;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5em;
}

button:hover {
    background-color: #9b518d;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 1.5em;
    padding: 1em;
    background-color: #f6c7eb;
    border-radius: 5px;
}

/* Cupcake grid styles */
.cupcake-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.cupcake-box {
    background-color: #ebebfc;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.cupcake-box a {
    background: linear-gradient(90deg, #ebebfc, #f6c7eb, #dafdf7, #f7dafd);
    background-size: 300% 300%;
    color: #333;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-position 1s;
}

.cupcake-box a:hover {
    background-position: 200% 200%;
    color: #fff;
}