<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>Walt's Cupcake Corner</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('all_cupcakes')}}">All Cupcakes</a></li>
            <li><a href="{{url_for('order')}}">Order</a></li>
            <li><a href="{{url_for('shopping_cart')}}">Shopping Cart</a></li>
        </ul>
    </nav>
    <main class="container">
        <div class="welcome-message">
            <h2>Welcome to the Walt's Cupcake Corner!</h2>
            <img class="center-image" src="{{url_for('static', filename='images/cupcakes.png')}}" alt="Cupcakes" />
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Walt's Cupcake Corner. All rights reserved.</p>
    </footer>
</body>
</html>